
<div style="height: 100%;">
    <style>
    </style>
    <div style="position: absolute; width: 100%; z-index: 10;">
        <!-- Calendar -->
        <div style="width: 100%; direction: rtl; padding: 0; margin: 0; padding-top: 5px; height: 190px;">
            <div class="greeny" style="width: 100%; height: 27px; line-height: 20px; text-align: center; font-weight: bold; font-size: 1.2em; padding: 0px 0px;">
                <div class="" style="float: left; display: inline-block; width: 10%; margin-top: 3px;">
                    <a href="" role="button" ng-click="$parent.calendar.prevMonth()" class="">
                        <span class="glyphicon glyphicon-chevron-left greeny"></span>
                    </a>
                </div>
                <div class="dw-cal-btnw-m" style="width: 78%; display: inline-block; float: left; height: 27px; padding: 3px;">
                    <span aria-live="assertive" class="dw-cal-month" data-val="calendar.selectedMonth">{{$parent.calendar.monthNames[calendar.selectedMonth]}}</span>
                    <span aria-live="assertive" class="dw-cal-month" data-val="calendar.selectedYear">{{$parent.calendar.selectedYear}}</span>
                </div>
                <div class="" style="float: right; display: inline-block; width: 10%; margin-top: 3px;">
                    <a href="" role="button" ng-click="getPrevMonth()" class="">
                        <span class="glyphicon glyphicon-chevron-right greeny"></span>
                    </a>
                </div>
            </div>
            <table style="width: 100%; border-collapse: collapse;">
                <thead class="bggreeny whitey">
                    <tr style="height:26px">
                        <th ng-repeat="dayName in $parent.calendar.dayNames"
                            data-val="{{$index}}"
                            style="text-align: center; width: 13%;">
                            <span>{{dayName}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="constructedDaysRow in $parent.calendar.constructedDays track by $index">
                        <td ng-repeat="constructedDay in constructedDaysRow track by $index"
                            style="text-align: center;">
                            <a href="" class=" greeny calendar-cell"
                               ng-click="selectDay(constructedDay, $index, $parent.$index, $event)"
                               ng-class="{ whitey: selectedDays[$parent.$index][$index].isSelected, bggreeny: selectedDays[$parent.$index][$index].isSelected}">
                                {{constructedDay}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 100%; padding: 0; height: 31px; margin: 10px 0;">
            <div style="width: 33.3%; height: 100%; display: block; float: right; text-align: center; padding: 6px 10px; font-size: 1.2em;" class="bggreeny whitey">الحالة</div>
            <div style="width: 66.7%; height: 100%;display: inline-block;position: relative;" class="">
                <div style=" position: relative; height: 100%; width: 12px; background-color: white; z-index: 10;">
                    <span style="width: 8px; height: 8px; border: 2px solid #119379; margin-top: 14px; margin-right: 5px; display: inline-block; border-radius: 17px; "></span>
                </div>
                <span style=" width: 70%; display: inline-block;border-bottom: 2px solid #119379; position: absolute; top: 17px; /* right: 13px; */ "></span>
                <span style=" width: 29%; display: inline-block; border-bottom: 2px solid gray; position: absolute; top: 17px; right: 71%; "></span>
            </div>
        </div>
        <div class="btn-group tab-group">
            <label class="btn  tab2-btn" ng-model="checkModel" btn-radio="'7'"><span class="head">تذكير</span><span class="content"><div class="chkboxparent"><span class="inner" /></div></span></label>
            <label class="btn  tab2-btn" ng-model="checkModel" btn-radio="'6'"><span class="head">سلبية</span><span class="content"><div class="chkboxparent"><span class="inner" /></div></span></label>
            <label class="btn  tab2-btn" ng-model="checkModel" btn-radio="'5'"><span class="head">إيجابية</span><span class="content"><div class="chkboxparent"><span class="inner" /></div></span></label>
            <label class="btn  tab2-btn" ng-model="checkModel" btn-radio="'4'"><span class="head">معتذر</span><span class="content"><div class="chkboxparent"><span class="inner" /></div></span></label>
            <label class="btn  tab2-btn" ng-model="checkModel" btn-radio="'3'"><span class="head">متأخر</span><span class="content"><div class="chkboxparent"><span class="inner" /></div></span></label>
            <label class="btn  tab2-btn" ng-model="checkModel" btn-radio="'2'"><span class="head">غائب</span><span class="content"><div class="chkboxparent"><span class="inner" /></div></span></label>
            <label class="btn  tab2-btn" ng-model="checkModel" btn-radio="'1'"><span class="head">حاضر</span><span class="content"><div class="chkboxparent"><span class="inner" /></div></span></label>
        </div>
        <div style="margin: 10px 0; width: 100%;padding-right: 17px; padding-left: 10px;">
            <input ng-model="comment" type="text" style="border: 1px solid lightgray; height: 35px; border-radius: 2px; padding: 6px 6px 6px 25px; width:100%; font-size: 14pt; color: rgb(155,155,155); outline: none; box-shadow: none;" />
        </div>
        <div style="width: 100%; padding: 0; height: 31px; margin: 10px 0;">
            <div style="width: 40%; height: 100%; display: block; float: right; text-align: center; padding: 6px 10px; font-size: 1.2em;position: relative" class="bggreeny whitey">
                <input type="checkbox" style="position: absolute; top: 67%; margin-top: -11px; right: 8%; " ng-model="selectAll" ng-change="selectAllStud()" />اختيار الطلاب
            </div>
            <div style="width: 60%; height: 100%;display: inline-block;position: relative;" class="">
                <div style=" position: relative; height: 100%; width: 12px; background-color: white; z-index: 10;">
                    <span style="width: 8px; height: 8px; border: 2px solid #119379; margin-top: 14px; margin-right: 5px; display: inline-block; border-radius: 17px; "></span>
                </div>
                <span style=" width: 70%; display: inline-block;border-bottom: 2px solid #119379; position: absolute; top: 17px;"></span>
                <span style=" width: 29%; display: inline-block; border-bottom: 2px solid gray; position: absolute; top: 17px; right: 71%; "></span>
            </div>
        </div>
    </div>
    <!--students list-->
    <div style="width: 100%; padding-top: 388px; top: 0; height: 93%;">
        <div style="width: 100%; padding: 5px 15px; position: relative; height: 100%; padding-bottom: 0">
            <ul class="students-list">
                <li ng-repeat="student in vars.ringStudents"
                    ng-class="{bggreeny: student.selected}"
                    ng-click="student.selected = !student.selected">
                    <div class="st-pic"></div>
                    <div class="st-name">{{student.Name}}</div>
                    <input type="checkbox" ng-change="student.selected = !student.selected" ng-model="student.selected" style="height: 25px; width: 25px; float: left; margin-top: -36px; margin-left: 10px;" />
                    <!--<button class="btn st-icons glyphicon glyphicon-remove redy"
                            ng-show="student.selected"
                            ng-click="student.selected = false"></button>
                    <button class="btn st-icons glyphicon glyphicon-plus grayna"
                            ng-hide="student.selected"
                            ng-click="student.selected = true"></button>-->
                </li>
            </ul>
        </div>
    </div>
    <button style="margin: 0 auto 0 auto;display: block;width: 50%;" class="btn whitey bggreeny" ng-click="createNewAttendance()">save</button>
</div>
