<div class="sectionPage">
    <div style="position: relative; height: 188px; direction: rtl; ">
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 120px; background-image: url('images/home-img3.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; "></div>
        <div class="" style="color: black; font-size: 24px; text-align: right; bottom: 60%; position: absolute; height: 25px; width: 98%; padding: 0; margin: 0; left: 0;">التربية والتعليم</div>
        <div class="" style="color: black; font-size: 18px; text-align: right; bottom: 45%; position: absolute; height: 25px; width: 98%; padding: 0; margin: 0; left: 0;">من حقى أن أتعلم كل جديد</div>
        <div class="mainLstBootomArea" style="width: 100%!important; padding-top: 120px; direction: rtl; position: relative; width: 98%; margin: 0; left: 0;">


            <div style="padding: 5px; bottom: 0; position: relative; width: 100%; height: 68px; background:#2c2c2c">

                <div style="padding-bottom: 5px; font-size: 20px; color: #139999;">
                    <span style="">اجمالى الفروع</span>
                    <span style=" float: left;">175</span>
                </div>
                <div style="font-size: 14px; color: rgba(255, 255, 255, 0.7);">
                    التوحيد / توحيد الأسماء والصفات / أحكام الإيمان بالأسماء والصفات
                </div>

            </div>
        </div>
    </div>


    <div style="height: 56px; padding: 0 19px; border-top: 1px solid; overflow-x: hidden;">
        <span class="scrollcontrol-left" ng-click="left()" style="height:55px;"></span>
        <span class="scrollcontrol-right" ng-click="right()" style="height:55px;"></span>
        <ul id="caresoule" class="h-Ul animate" ng-style="style()" hammer-dragright="handleGesture($event)" hammer-dragleft="handleGesture($event)" hammer-swipeleft="handleGesture($event)" hammer-swiperight="handleGesture($event)">
            <li ng-click="setActiveSec('poems')"><span class="scrollerimg" style="background-image: url('images/icon1.png')"></span><span style="color:white;height: 18px">قرآن</span></li>
            <li ng-click="setActiveSec('books')"><span class="scrollerimg" style="background-image: url('images/icon2.png')"></span><span style="color:white;height: 18px">حديث</span></li>
            <li ng-click="setActiveSec('images')"><span class="scrollerimg" style="background-image: url('images/icon3.png')"></span><span style="color:white;height: 18px">قصص</span></li>
            <li ng-click="setActiveSec('videos')"><span class="scrollerimg" style="background-image: url('images/icon4.png')"></span><span style="color:white;height: 18px">أثار السلف</span></li>
            <li ng-click="setActiveSec('audios')"><span class="scrollerimg" style="background-image: url('images/icon5.png')"></span><span style="color:white;height: 18px">شعر</span></li>
            <li ng-click="setActiveSec('poems')"><span class="scrollerimg" style="background-image: url('images/icon6.png')"></span><span style="color:white;height: 18px">شعر</span></li>
            <li ng-click="setActiveSec('books')"><span class="scrollerimg" style="background-image: url('images/icon7.png')"></span><span style="color:white;height: 18px">أثار السلف</span></li>
            <li ng-click="setActiveSec('poems')"><span class="scrollerimg" style="background-image: url('images/icon8.png')"></span><span style="color:white;height: 18px">قصص</span></li>
            <li ng-click="setActiveSec('poems')"><span class="scrollerimg" style="background-image: url('images/icon9.png')"></span><span style="color:white;height: 18px">حديث</span></li>
            <li ng-click="setActiveSec('poems')"><span class="scrollerimg" style="background-image: url('images/icon10.png')"></span><span style="color:white;height: 18px">قرآن</span></li>

        </ul>
        <span style="background-image: url(/images/indicator.png); background-size: contain; position: absolute; width: 28px; height: 20px; background-repeat: no-repeat; margin-top: -1px;"></span>
    </div>

    <div style="position: absolute; height: 100%; width: 100%; top: 0px; margin-top: 244px; padding-bottom: 244px;">

        <ul class="main-content" ng-show="activeSec == 'books'">
            <li>
                <div style="height: 69px; width: 100%; padding-left: 50px;overflow:hidden">
                    <p style="font-size:12pt">
                        من روائع الاستاذ تاج الدين نوفل قصيدة من ديوان بعنوان كواكب الحسن الغوال قالها في السيدة ام المؤمنين
                    </p>
                </div>
                <span class="readmore"><a href="">اقرأ المزيد</a></span>

            </li>
            <li>
                <div style="height: 69px; width: 100%; padding-left: 50px;overflow:hidden">
                    <p style="font-size:12pt">
                        من روائع الاستاذ تاج الدين نوفل قصيدة من ديوان بعنوان كواكب الحسن الغوال قالها في السيدة ام المؤمنين
                    </p>
                </div>
                <span class="readmore"><a href="">اقرأ المزيد</a></span>

            </li>
            <li>
                <div style="height: 69px; width: 100%; padding-left: 50px;overflow:hidden">
                    <p style="font-size:12pt">
                        من روائع الاستاذ تاج الدين نوفل قصيدة من ديوان بعنوان كواكب الحسن الغوال قالها في السيدة ام المؤمنين

                    </p>
                </div>
                <span class="readmore"><a href="">اقرأ المزيد</a></span>

            </li>
            <li>
                <div style="height: 69px; width: 100%; padding-left: 50px;overflow:hidden">
                    <p style="font-size:12pt">
                        من روائع الاستاذ تاج الدين نوفل قصيدة من ديوان بعنوان كواكب الحسن الغوال قالها في السيدة ام المؤمنين

                    </p>
                </div>
                <span class="readmore"><a href="">اقرأ المزيد</a></span>

            </li>
            <li>
                <div style="height: 69px; width: 100%; padding-left: 50px;overflow:hidden">
                    <p style="font-size:12pt">
                        من روائع الاستاذ تاج الدين نوفل قصيدة من ديوان بعنوان كواكب الحسن الغوال قالها في السيدة ام المؤمنين

                    </p>
                </div>
                <span class="readmore"><a href="">اقرأ المزيد</a></span>

            </li>
        </ul>

        <ul class="main-content" ng-show="activeSec == 'poems'">
            <li style="padding-top:5px">
                <div style="display: inline-block; height: 81px; width: 65px; float: right; background-image: url('/images/img.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 81px; width: 70%; float: right; padding-right: 68px; margin-right: -68px; padding-top: 16px; padding-bottom: 20px;">
                    <p style="margin-bottom: 2px; font-size: 12pt; ">كتاب شعر سميح القاسم</p>
                    حجم الملف (551K)
                </div>
                <div style="height: 81px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 22px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
            <li style="padding-top:5px">
                <div style="display: inline-block; height: 81px; width: 65px; float: right; background-image: url('/images/img.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 81px; width: 70%; float: right; padding-right: 68px; margin-right: -68px; padding-top: 16px; padding-bottom: 20px;">
                    <p style="margin-bottom: 2px; font-size: 12pt; ">كتاب شعر سميح القاسم</p>
                    حجم الملف (551K)
                </div>
                <div style="height: 81px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 22px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
            <li style="padding-top:5px">
                <div style="display: inline-block; height: 81px; width: 65px; float: right; background-image: url('/images/img.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 81px; width: 70%; float: right; padding-right: 68px; margin-right: -68px; padding-top: 16px; padding-bottom: 20px;">
                    <p style="margin-bottom: 2px; font-size: 12pt; ">كتاب شعر سميح القاسم</p>
                    حجم الملف (551K)
                </div>
                <div style="height: 81px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 22px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
            <li style="padding-top:5px">
                <div style="display: inline-block; height: 81px; width: 65px; float: right; background-image: url('/images/img.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 81px; width: 70%; float: right; padding-right: 68px; margin-right: -68px; padding-top: 16px; padding-bottom: 20px;">
                    <p style="margin-bottom: 2px; font-size: 12pt; ">كتاب شعر سميح القاسم</p>
                    حجم الملف (551K)
                </div>
                <div style="height: 81px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 22px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
            <li style="padding-top:5px">
                <div style="display: inline-block; height: 81px; width: 65px; float: right; background-image: url('/images/img.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 81px; width: 70%; float: right; padding-right: 68px; margin-right: -68px; padding-top: 16px; padding-bottom: 20px;">
                    <p style="margin-bottom: 2px; font-size: 12pt; ">كتاب شعر سميح القاسم</p>
                    حجم الملف (551K)
                </div>
                <div style="height: 81px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 22px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
        </ul>

        <ul class="main-content" ng-show="activeSec == 'videos'">
            <li style="padding-top:11px">
                <div style="display: inline-block; height: 67px; width: 95px; float: right; /* position: absolute; */ background-image: url('/images/vedio.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 75px; width: 70%; float: right; margin-right: -97px; padding-right: 100px; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        شاهد الفيديو
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="display: inline-block; height: 67px; width: 95px; float: right; /* position: absolute; */ background-image: url('/images/vedio.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 75px; width: 70%; float: right; margin-right: -97px; padding-right: 100px; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        شاهد الفيديو
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="display: inline-block; height: 67px; width: 95px; float: right; /* position: absolute; */ background-image: url('/images/vedio.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 75px; width: 70%; float: right; margin-right: -97px; padding-right: 100px; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        شاهد الفيديو
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="display: inline-block; height: 67px; width: 95px; float: right; /* position: absolute; */ background-image: url('/images/vedio.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 75px; width: 70%; float: right; margin-right: -97px; padding-right: 100px; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        شاهد الفيديو
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="display: inline-block; height: 67px; width: 95px; float: right; /* position: absolute; */ background-image: url('/images/vedio.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 75px; width: 70%; float: right; margin-right: -97px; padding-right: 100px; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        شاهد الفيديو
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="display: inline-block; height: 67px; width: 95px; float: right; /* position: absolute; */ background-image: url('/images/vedio.png'); background-size: cover; background-position: 50% 50%;"></div>
                <div style="height: 75px; width: 70%; float: right; margin-right: -97px; padding-right: 100px; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        شاهد الفيديو
                    </button>
                </div>

            </li>
        </ul>

        <ul class="main-content" ng-show="activeSec == 'audios'">
            <li style="padding-top:11px">
                <div style="height: 75px; width: 70%; float: right; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="height: 75px; width: 70%; float: right; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="height: 75px; width: 70%; float: right; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
            <li style="padding-top:11px">
                <div style="height: 75px; width: 70%; float: right; padding-top: 11px; padding-bottom: 15px;">
                    <p style="margin-bottom: 2px; font-size: 12pt;text-wrap:normal ">كتاب شعر سميح القاسمب شعر سميح القاسم</p>
                </div>
                <div style="height: 75px; width: 30%; float: right">
                    <button style="display: block;max-width:125px;width: 95%;border-radius: 6px;padding-top: 4px;padding-bottom: 2px;color: white;background-color: #139999;font-size: 1.2em;margin-top: 15px;box-sizing: padding-box;margin-right: auto;margin-left: auto;">
                        تحميل
                    </button>
                </div>

            </li>
        </ul>

        <ul class="imageGal" ng-show="activeSec == 'images'"
            style=" list-style: none; height: 100%; width: 100%; margin: 0; padding: 0; overflow-y: scroll; direction: rtl; font-size: 1px; padding-top: 1px; ">
            <li style="">
                <div style=""></div>
            </li>
            <li style=""></li>
            <li style=""></li>
            <li style=""></li>
            <li style=""></li>
            <li style=""></li>
            <li style=""></li>
            <li style=""></li>
            <li style=""></li>
        </ul>
    </div>
</div>