<style>
    span div div div {
        background: #45ad98 !important;
    }

    span > div {
        top: 60% !important;
    }
    th {
        border-left: 1px solid whitesmoke;
        /*font-weight: normal;*/
        /*padding: 3px;*/
    }

    td {
        font-size: 11px;
        border: 1px solid #ccc;
    }
</style>
<span us-spinner="{width:2,height:3}" spinner-key="spinner-matches" ng-show="spinning" spinner-start-active="1"></span>

<div style="height: 100%;">

<div style="position: relative; width: 100%; display: inline-block; padding: 20px 10px; ">
        <select ng-change="getPlans()" ng-model="student" style="border: 1px solid lightgray; height: 45px; border-radius: 2px; padding: 6px 6px 6px 25px; width: 54%; font-size: 14pt; color: rgb(155,155,155); outline: none; box-shadow: none; /* background-image: url(images/arrowdown.png); background-repeat: no-repeat; background-position: 2%; background-size: 12px;*/">
            <option ng-repeat="student in vars.ringStudents" value="{{student.Id}}">{{student.Name}}</option>
        </select>
        

        <select ng-change="getTsme3Data()" ng-model="plan" style="border: 1px solid lightgray; height: 45px; border-radius: 2px; padding: 6px 6px 6px 25px; width: 44%; font-size: 14pt; color: rgb(155,155,155); outline: none; box-shadow: none; /* background-image: url(images/arrowdown.png); background-repeat: no-repeat; background-position: 2%; background-size: 12px;*/">
            <option ng-repeat="plan in vars.studentPlans" value="{{plan.Id}}">{{plan.Name}}</option>
        </select>
        
    </div>
   
    <div style="max-height: 514px; overflow-y: auto;">
        <table style="width: 97%; border-collapse: collapse;" align="center">
            <thead>
                <tr>
                    <th class="whitey bggreeny" style="width:5%">
                        &nbsp;إعتماد&nbsp;
                    </th>
                    <th class="whitey bggreeny" style="width: 18%;">
                        نهاية الواجب
                    </th>
                    <th class="whitey bggreeny" style="width: 12%;">
                        كمية الواجب
                    </th>
                    <th class="whitey bggreeny">
                        <div>
                            تاريخ التسميع
                        </div>
                        <div style="border-top: 1px solid whitesmoke;">
                            <span style="width: 47%; display: inline-block; margin: 0; padding: 0; border-left: 1px solid whitesmoke;">المقرر</span>
                            <span style="width: 48%; display: inline-block; margin: 0; padding: 0;">الفعلى</span>
                        </div>
                    </th>
                    <th class="whitey bggreeny" style="width: 10%;">
                        فرق الأيام
                    </th>
                    <th class="whitey bggreeny" style="width: 12%;">
                        عدد الأخطاء
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="6" class="bgblacky whitey" style="text-align: right; font-weight: bold; border: 1px solid; border-radius: 3px;">
                        {{startSura}} {{AyaStart}}
                    </th>
                </tr>

                <tr ng-repeat="assig in vars.tsme3Records.RecitationPlanAssignments">
                    <td>
                        <div class="chkboxparent"><input type="checkbox" name="chkbx2" value="0" ng-model="assig.done"></div>
                    </td>
                    <td>{{assig.StartSura}} {{assig.StartAya}}</td>
                    <td>{{assig.AssignmentPages | number:2}}</td>
                    <td>
                        <span ng-click="opendate(assig,1)" style="width: 45%; display: inline-block; margin: 0; padding: 0; border-left: 1px solid whitesmoke;"> {{assig.ScheduledDate}}</span>
                        <span ng-click="opendate(assig,2)" style="width: 45%; display: inline-block; margin: 0; padding: 0; height: 15px;">{{assig.ActualDate}}</span>
                    </td>
                    <td>{{assig.DayDifferent}}</td>
                    <td style="width: 12%;"><!--<input style="font-size: 11px;width:100%" type="number" ng-model="assig.NumberOfFaults" ng-change="update(assig)" />--></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

