

<div class="bg-pattern" style="height: 100%;">


    <style>
        .bg-logo {
            height: 100%;
            width: 100%;
            background-image: url(images/coloredlogo.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        .box-icon {
            width: 100%;
            background-repeat: no-repeat;
            background-position: 80%;
            background-size: 52px 38px;
        }

        .box-icon-quran {
            background-image: url(images/quran.png);
        }

        .box-icon-plans {
            background-image: url(images/plans.png);
        }

        .box-icon-tasmi3 {
            background-image: url(images/tasmi3.png);
        }

        .box-icon-attend {
            background-image: url(images/attend.png);
        }

        .box-icon-data {
            background-image: url(images/data.png);
        }

        .box-icon-attendreport {
            background-image: url(images/attendreport.png);
        }

        .box-icon-tasmi3report {
            background-image: url(images/tasmi3report.png);
        }

        .box-icon-contactus {
            background-image: url(images/contactus.png);
        }

        .box-icon-aboutus {
            background-image: url(images/aboutus.png);
        }
    </style>

    <div class="container-fluid" style="height: 100% !important; top: 0; position: absolute; left: 0; width: 100%;">
        <div class="row text-center" style="height: 30%;padding: 5% 10%">
            <div class="bg-logo"></div>
        </div>
        <div class="row text-center" style="height: 70%;">

            <ul style="width: 100%;padding: 0% 8% 4% 4%;">

                <li class="bggreeny whitey hom-box" style="" >
                    <div>
                        <div class="pic box-icon box-icon-quran"></div>
                        <div class="txt text-center">المصحف</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('plans',{})">
                    <div>
                        <div class="pic box-icon box-icon-plans"></div>
                        <div class="txt text-center">الخطط</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('tsmi3',{})">
                    <div>
                        <div class="pic box-icon box-icon-tasmi3"></div>
                        <div class="txt text-center">التسميع</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('attend',{})">
                    <div>
                        <div class="pic box-icon box-icon-attend"></div>
                        <div class="txt text-center">التحضير</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('data',{})">
                    <div>
                        <div class="pic box-icon box-icon-data"></div>
                        <div class="txt text-center">البيانات</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('attendreports',{})">
                    <div>
                        <div class="pic box-icon box-icon-attendreport"></div>
                        <div class="txt text-center">تقرير الحضور</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('tsmi3reports',{})">
                    <div>
                        <div class="pic box-icon box-icon-tasmi3report"></div>
                        <div class="txt text-center">تقرير التسميع</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('contactus',{})">
                    <div>
                        <div class="pic box-icon box-icon-contactus"></div>
                        <div class="txt text-center">اتصل بنا</div>
                    </div>
                </li>

                <li class="bggreeny whitey hom-box" style="" ng-click="funs.goto('aboutus',{})">
                    <div>
                        <div class="pic box-icon box-icon-aboutus"></div>
                        <div class="txt text-center">من نحن</div>
                    </div>
                </li>

            </ul>

        </div>
    </div>

</div>